{% load static %}

<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="active">
        <a href="{% url 'users:home' %}">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      {% if request.user.profile.level.id == 1 %}
      <li>
        <a href="{% url 'users:show' %}">
          <i class="fa fa-th"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a href="{% url 'users:showprofile' %}">
          <i class="fa fa-th"></i>
          <span>Profiles</span>
        </a>
      </li>
      <li>
        <a href="{% url 'levels:show' %}">
          <i class="fa fa-th"></i>
          <span>Levels</span>
        </a>
      </li>
      {% endif %}
      <!-- End if -->
      {% if request.user.profile.level.id == 1 or request.user.profile.level.id == 2 %}
      <li>
        <a href="{% url 'laws:show' %}">
          <i class="fa fa-th"></i>
          <span>Leyes</span>
        </a>
      </li>
      <li>
        <a href="{% url 'articles:show' %}">
          <i class="fa fa-th"></i>
          <span>Articulos</span>
        </a>
      </li>
      <li>
        <a href="{% url 'chapters:show' %}">
          <i class="fa fa-th"></i>
          <span>Capitulos</span>
        </a>
      </li>
      <li>
        <a href="{% url 'articles:articlelist' %}">
          <i class="fa fa-th"></i>
          <span>Search</span>
        </a>
      </li>
      <li>
        <a href="{% url 'articles:articlejson2' %}">
          <i class="fa fa-th"></i>
          <span>Search1</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</aside>
